/* ------ CSS RESET ------ */
/* Full CSS Reset https://piccalil.li/blog/a-more-modern-css-reset/#the-reset-in-whole by Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ------ CUSTOM PROPERTIES ------ */
:root {
    /* ------ COLORS ------ */
    /* Primary */
    --clr-primary-100: hsl(0, 0%, 100%);
    --clr-primary-700: hsl(217, 19%, 35%);
    --clr-primary-900: hsl(219, 29%, 14%);
    /* Secondary */
    --clr-secondary-700: hsl(263, 55%, 52%);
    /* Neutral */
    --clr-neutral-200: hsl(210, 46%, 95%);
    --clr-neutral-300: hsl(0, 0%, 81%);
    /* ------ TYPOGRAPHY ------ */
    /* Font-family */
    --ff-primary: "Barlow Semi Condensed", sans-serif;
    /* Font-size */
    --fs-100: .6875rem;
    --fs-200: .8125rem;
    --fs-600: 1.25rem;
    /* Font-weight */
    --fw-500: 500;
    --fw-600: 600;
    /* Line-height */
    --lh-100: 1;
    --lh-200: 1.2;
    --lh-300: 1.4;
    /* ------ SPACING ------ */
    /* px to rem */
    --rem-4: .25rem;
    --rem-16: 1rem;
    --rem-18: 1.125rem;
    --rem-72: 4.5rem;
    --rem-24: 1.5rem;
    --rem-26: 1.625rem;
    --rem-32: 2rem;
    --rem-40: 2.5rem;
}

/* Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

/* ------ LAYOUT ------ */
body {
    font-family: var(--ff-primary);
    background: var(--clr-neutral-200);
}

.testimonial-wrapper {
    display: grid;
    gap: var(--rem-24);
    margin-block: var(--rem-72);
    margin-inline: var(--rem-24);
}

.testimonial {
    --_bg: var(--bg, var(--clr-neutral-200));
    display: flex;
    flex-direction: column;
    gap: var(--rem-18);
    padding-block: 1.625em 2em;
    padding-inline: 2em;
}

.author-wrapper {
    display: flex;
    gap: var(--rem-16);
}
