/* ------ CSS RESET ------ */
/* Full CSS Reset https://piccalil.li/blog/a-more-modern-css-reset/#the-reset-in-whole by Andy Bell */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* ------ CUSTOM PROPERTIES ------ */
:root {
  /* ------ COLORS ------ */
  /* Primary */
  --clr-primary-25: hsl(0, 0%, 100%, 50%);
  --clr-primary-50: hsl(0, 0%, 100%, 70%);
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-500: hsl(217, 19%, 35%, 50%);
  --clr-primary-600: hsl(217, 19%, 35%, 70%);
  --clr-primary-700: hsl(217, 19%, 35%);
  --clr-primary-900: hsl(219, 29%, 14%);
  /* Secondary */
  --clr-secondary-500: hsl(264, 82%, 70%);
  --clr-secondary-700: hsl(263, 55%, 52%);
  /* Neutral */
  --clr-neutral-200: hsl(210, 46%, 95%);
  --clr-neutral-300: hsl(0, 0%, 81%);
  /* Effect */
  --shadow: hsl(217, 19%, 35%, 25%);
  /* ------ TYPOGRAPHY ------ */
  /* Font-family */
  --ff-primary: "Barlow Semi Condensed", sans-serif;
  /* Font-size */
  --fs-100: .6875rem;
  --fs-200: .8125rem;
  --fs-600: 1.25rem;
  /* Font-weight */
  --fw-500: 500;
  --fw-600: 600;
  /* Line-height */
  --lh-100: 1;
  --lh-200: 1.2;
  --lh-300: 1.4;
  /* ------ SIZING ------ */
  /* px to rem */
  --rem-2: .125rem;
  --rem-4: .25rem;
  --rem-8: .5rem;
  --rem-16: 1rem;
  --rem-18: 1.125rem;
  --rem-72: 4.5rem;
  --rem-24: 1.5rem;
  --rem-26: 1.625rem;
  --rem-32: 2rem;
  --rem-40: 2.5rem;
}

/* Note for text colors:

1. "Verified Graduate" has the same color as the person's name with 50% opacity
2. Review paragraphs inside the quotations have the same color as well, but are at 70% opacity */

/* ------ LAYOUT ------ */
body {
  font-family: var(--ff-primary);
  background: var(--clr-neutral-200);
  margin: 0;
}

.container {
  container: container / inline-size;
  max-width: 1100px;
  margin-inline: auto;
}

.testimonial-wrapper {
  display: grid;
  gap: var(--rem-24);
  margin-block: var(--rem-72);
  margin-inline: var(--rem-24);
}

.testimonial {
  --_bg: var(--bg, var(--clr-primary-100));
  --_clr: var(--clr, var(--clr-primary-600));
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  background: var(--_bg);
  color: var(--_clr);
  padding-block: 1.625em 2em;
  padding-inline: 2em;
  border-radius: var(--rem-8);
  box-shadow: var(--shadow) 40px 60px 50px -47px;
}

.testimonial__label {
  display: flex;
  align-items: center;
  gap: var(--rem-16);
}

.testimonial__avatar {
  --_br: var(--br, transparent);
  border-radius: 50%;
  outline: var(--rem-2) solid var(--br);
  width: var(--rem-32);
}

.testimonial__author {
  --_clr: var(--clr, var(--clr-primary-700));
  color: var(--_clr);
  font-size: var(--fs-200);
  font-weight: var(--fw-500);
  line-height: var(--lh-100);
  margin: 0;
}

.testimonial__author--verified {
  --clr: var(--clr-primary-500);
  font-size: var(--fs-100);
  margin-block-start: var(--rem-4);
}

.testimonial__title {
  --_clr: var(--clr, var(--clr-primary-700));
  color: var(--_clr);
  font-size: var(--fs-600);
  font-weight: var(--fw-600);
  line-height: var(--lh-200);
  margin-block-start: var(--rem-18);
}

.testimonial__copy {
  margin-block-start: var(--rem-16);
}

/* @container container (width > 500px) {
  .testimonial-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    background: red;
  }

  .testimonial--violet {
    grid-column: span 3;
  }

  .testimonial--grey {
    grid-column: span 2;
    grid-row: 3 / 4;
  }

  .testimonial--dark-blue {
    grid-column: span 2;
    grid-row: 2;
  }
} */

@container container (width > 500px) {
  .testimonial-wrapper {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    /* background: red; */
  }

  .testimonial--violet {
    grid-column: span 2;
  }

  .testimonial--grey {
    grid-column: 3;
    /* grid-row: 1; */
  }

  .testimonial--dark-blue {
    grid-column: 2 / 4;
    /* grid-row: 2; */
  }
}

/* ------ UTILITY ------ */
.testimonial--violet {
  --bg: var(--clr-secondary-700);
  --clr: var(--clr-primary-50);
}

.testimonial--grey {
  --bg: var(--clr-primary-700);
  --clr: var(--clr-primary-50);
}

.testimonial--dark-blue {
  --bg: var(--clr-primary-900);
  --clr: var(--clr-primary-50);
}

.title-white {
  --clr: var(--clr-primary-100);
}

.copy-white {
  --clr: var(--clr-primary-25);
}

.br-img-light {
  --br: var(--clr-secondary-500);
}

.br-img-dark {
  --br: var(--clr-secondary-700);
}